<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid 19 Tracker</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <nav class="nav-bar">
        <div class="col-md-5 nav-logo">
            <img src="/public/img/virus.png" alt="">
            <h1>Covid - 19 Tracker</h1>
        </div>
        <ul class="menu">
            <a href="">
                <li>Home</li>
            </a>
            <a href="summary.html">
                <li>Summary</li>
            </a>
            <a href="country.html">
                <li>Countries</li>
            </a>
            <a href="">
                <li>About Me</li>
            </a>
        </ul>
    </nav>
    
</body>
<script src="/app.js"></script>

</html>